{% extends 'dash_board/base.html' %}

{% block content %}
<div class="processes-content">
    <h2>Process Execution Statistics</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Process Name</th>
                <th>Total Executions</th>
                <th>Successful Executions</th>
                <th>Executions with Error</th>
                <th>Ongoing Executions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for process in processes %}
            <tr>
                {% with url_name=process.url %}
                    <td><a href="{% url  'process_detail' url_name %}">{{ process.name }}</a></td>
                {% endwith %}
                <td>{{ process.total_executions }}</td>
                <td>{{ process.successful_executions }}</td>
                <td>{{ process.error_executions }}</td>
                <td>{{ process.ongoing_executions }}</td>
                <td><div class='status {{ process.status }}''></div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

